<div ng-controller="IndexController">

  <super-navbar>
      <super-navbar-title>
          Love Talk For Guys
      </super-navbar-title>
  </super-navbar>

  <div class="item item-image ">
    <img src="/images/love_talk_for_guys_background.jpg">
  </div>

  <div class="background-image-container">
    <div class="padding background-image-container__title--sex-questions-men"> TALK DURING SEX</div>
  </div>

  <div class="padding main-explanation row" style="background-color: #D12E41;">
      <div class="super-heart col col-5 col-center"></div>
      <div class="col col-90"> 93 Suggestions for ways to talk to your woman during sex.
      </div>
  </div>

  <div class="sub-explanation__text">
    <p>Most women love to hear if their partners are enjoying sex. Put words to your pleasure and increase your intimacy tenfold! You'll know exactly what to say with the 93 suggestions in this romantic app.</p>
  </div>

  <super-navigate view-id="begin-questions">
      <div class="begin-questions">GET STARTED</div>
  </super-navigate>

</div>